<div class="container m-3">
  <div class="d-flex justify-content-between align-items-center">
    <div>Product</div>
    <div>
      <button class="btn btn-primary" routerLink="/content-manager/products/add">Add</button>
    </div>
  </div>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">price</th>
        <th scope="col">Category</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="products$ | async as products">
      <tr *ngFor="let product of products">
        <th scope="row">{{product.id}}</th>
        <td>{{product.title}}</td>
        <td>{{product.price | currency: 'USD'}}</td>
        <td>{{product.category.title}}</td>
        <td>
          <button class="btn btn-primary" routerLink="/content-manager/products/edit/{{product.id}}">Edit</button>
          <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
      </ng-container>
      </tbody>
    </table>

  </div>
</div>
